[flake8]
max_line_length = 120

exclude =
    __pycache__,
    .git,
    .github,
    .venv,
    build,
    cppwg/templates,
    doc,
    examples,
    _skbuild,
    tests,
    venv,

docstring-convention=numpy

# D200 One-line docstring should fit on one line with quotes
# E203 whitespace before ':'
extend-ignore = D200,E203
